*{
    margin: auto;
    padding: auto;
    font-family: 'Roboto', sans-serif;;
}

body{
background-color:#343434;
overflow-x: hidden;
}

.flexContainer{
    display: flex;
    width: 100vw;
    flex-flow: row wrap;
    justify-content: space-between;
}

.centered{
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
    padding: 1em;
}

.card{
    transition: 1s;
    position: relative;
    width: 300px;
    height: 400px;
    border-radius: 30px;
    border-style: solid;
    border-color: rgb(121, 121, 121);
    border-width: 5px;
    background-color: #343434;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.158);
    cursor: pointer;
}

.card:hover{
    transition: 1s;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.438);
    border-color:rgb(255, 174, 0);
}

.card .brand h1{
font-size: 36px;
color: rgb(70, 70, 70);
}

.brand{
    position: absolute;
    left: 10px;
    top: 10px;
}

.showImage{
    transition: 1s;
    position: absolute;
    right: 0;
    top: 50px;
    transform: rotate(-30deg);
    width: 180px;
}

.shadow{
    transition: 1s;
    position: absolute;
    width: 100px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.712);
    left: 0;
    top: 78%;
    transform: rotate(30deg);
    filter: blur(10px);
}

.card:hover .showImage{
    transition: 0.5s;
    transform: rotate(-20deg);
    width: 250px;
    top: 10px;
    right: -50px;
}

.card:hover .showImage .shadow{
    transition: 0.5s;
    width: 160px;
    height: 10px;
    top: 85%;
    background-color: black;
    filter: blur(20px);
    transform: rotate(18deg);
}

.productInfo{
    position: absolute;
    left: 10px;
    top: 50%;
}

.productInfo h1{
    font-size: 24px;
    color: rgb(206, 206, 206);
}

.productInfo h4{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: rgb(78, 78, 78);
}

.wishlist{
    position: absolute;
    right: 10px;
    top: 47%;
}

.wishlist svg g{
   fill: transparent;
   border: none;
   cursor: pointer;
}

.wishlist svg g:hover{
    transition: 0.5s;
   fill: rgb(255, 60, 60);
   border: none;
   cursor: pointer;
}

.colorSelection{
    position: absolute;
    top: 70%;
    left:10px;
}

.colorSelection h4{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: rgb(202, 202, 202);
}

.colorSelection ul{
position: absolute;
 list-style-type: none;
 display: flex;
 justify-content: space-evenly;
 width: 100%;
 padding: 0;
 top: 28px;
 left: -5px;
}

.colorSelection ul li{
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.colorSelection ul li:hover{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    box-shadow: 0px 3px 5px black;
}

.colorSelection ul li:nth-child(1){
    background-color: rgb(255, 86, 86);
}
.colorSelection ul li:nth-child(2){
    background-color: #FFD54F;
}
.colorSelection ul li:nth-child(3){
    background-color: #00BFAB;
}

.sizeSelection{
    position: absolute;
    top: 70%;
    right:10px;
}

.sizeSelection h4{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: rgb(202, 202, 202);
}

.sizeSelection ul{
position: absolute;
 list-style-type: none;
 display: flex;
 justify-content: space-evenly;
 width: 100%;
 padding: 0;
 top: 30px;
 left: -5px;
}

.sizeSelection ul li{
    cursor: pointer;
    font-size: 18px;
    color: rgb(100, 100, 100);
}

.sizeSelection ul li:hover{
    cursor: pointer;
    color: rgb(255, 255, 255);;
}

.sizeSelection ul li:hover::after{
    content: ' ';
    position: absolute;
    display: block;
    cursor: pointer;
    width: 10px;
    height: 2px;
    background-color: rgb(255, 255, 255);
}

.buyBtn{
    position: absolute;
    display: flex;
    bottom: -1px;
    width: 100%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color:rgb(121, 121, 121);
    color: rgb(170, 170, 170);
    padding: 0.8em 1px;
}

.card:hover .buyBtn{
    transition: 1s;
    background-color:rgb(255, 174, 0);
    color: rgb(255, 255, 255);
}

